# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio          = [ 0, 2, 6 ]
sort_by        = "alphabetical"
sort_sensitive = false
sort_reverse 	 = false
sort_dir_first = true
sort_translit  = false
linemode       = "none"
show_hidden    = true
show_symlink   = true
scrolloff      = 0
mouse_events   = [ "click", "scroll" ]
title_format   = "{cwd}"

[preview]
wrap            = "no"
tab_size        = 2
max_width       = 1390
max_height      = 954
cache_dir       = ""
image_delay     = 0
image_filter    = "triangle"
image_quality   = 75
sixel_fraction  = 15
ueberzug_scale  = 1
ueberzug_offset = [ 0, 0, 0, 0 ]

[opener]
edit = [{ run = '${EDITOR} "$@"',       block = true }]
play_vid = [
  { run = 'mpv --force-window "$@"',    orphan = true, for = "unix" },
  { run = 'mpv --force-window %*',      orphan = true, for = "windows" }
]
view_doc = [
  { run = 'zathura "$@"',               orphan = true, for = "unix" }
]
open = [
	{ run = 'xdg-open "$1"',                             for = "linux" },
	{ run = 'open "$@"',                                 for = "macos" },
	{ run = 'start "" "%1"',              orphan = true, for = "windows" },
]
reveal = [
	{ run = 'xdg-open "$(dirname "$1")"',                for = "linux" },
	{ run = 'open -R "$1"',                              for = "macos" },
	{ run = 'explorer /select,"%1"',      orphan = true, for = "windows" },
]
extract = [
	{ run = 'ya pub extract --list "$@"',                for = "unix" },
	{ run = 'ya pub extract --list %*',                  for = "windows" },
]

[open]
rules = [
	# Folder
	{ name = "*/", use = ["edit", "open"] },
	# Text
	{ mime = "text/*", use = ["edit"] },
	# Image/Audio/Video/Document
	{ mime = "image/*", use = ["open"] },
	{ mime = "{audio,video}/*", use = ["play_vid"] },
	{ mime = "application/{pdf,epub+zip}", use = ["view_doc"] },
	# Archive
	{ mime = "application/{,g}zip", use = ["extract"] },
	{ mime = "application/x-{tar,bzip*,7z-compressed,xz,rar}", use = ["extract"] },
	# JSON
	{ mime = "application/{json,x-ndjson,toml,xml,yaml}", use = ["edit"] },
	{ mime = "*/javascript", use = ["edit"] },
	# Empty file
	{ mime = "inode/x-empty", use = ["edit"] },
	# Fallback
	{ name = "*", use = ["edit", "open", "reveal"] },
]
prepend_rules = [
  { url = "*.nu", use = "edit" },
  { url = "*.txt", use = "edit" },
  { url = "*.conf", use = "edit" },
  { url = "*.epub", use = "view_doc" },
  { url = "*.html", use = ["open", "edit"] },
]
